<div class="parallax-container valign-wrapper" id="parallax-container">
	<div class="section no-pad-bot">
		<div class="container">
			<div class="row center">
				<h3 class="header col s12 light"><strong>Contact</strong></h3>
			</div>
		</div>
	</div>
	<div class="parallax">
		<img id="parallax-img" src="img/contact_mini.jpg" alt="">
	</div>
</div>
<div class="container df-font-color" id="content-container">
<h1 class="center">Contact Lorem ipsum</h1>
<hr/>
<p>
Lorem ipsum dolor sit amet, per ne gloriatur consectetuer, brute porro delenit no sea. Doming doctus eum in, sit feugiat apeirian delicatissimi ne. Suas aperiam efficiantur qui ea, ut hinc debet essent mei. Ius an prima facilis torquatos, scripta veritus reprimique id cum, sit cu inani appellantur dissentiunt. Consulatu sententiae temporibus duo cu. Ne dicta nonumes eleifend sea. Veritus rationibus referrentur at mel, per et suas accumsan corrumpit, ferri viris definiebas sed id.
</p>
<p>
Usu euripidis repudiandae ea. Ad quo augue feugait. Eum ei dico vide admodum. Per et essent neglegentur, vivendo volutpat eam ex.
</p>
<p>
Mea graeci iisque nominati et, usu no legere inciderint reformidans. Reque choro suscipiantur id ius, an idque essent putant vix, brute epicurei philosophia quo id. Pro augue utroque ut. Scaevola electram no nam, qui omnis velit an, doctus nominati tincidunt ne vel. His agam ocurreret efficiendi ea. At pri copiosae gubergren voluptatibus, officiis tincidunt no pro, sed meis torquatos abhorreant ea. Dicant deleniti mea ne, tation instructior vel id, epicuri theophrastus at mea.
</p>
<p>
Option assentior id pro, vis et nominati quaestio. Vide inciderint vim id. Partiendo patrioque cu eam, vim et graeco cetero utroque, sea id nostro phaedrum tractatos. Eleifend contentiones vis no. Nec at altera instructior, te mel fugit tempor elaboraret, discere ancillae scaevola at quo. Agam libris an mea, has eu malorum persius.
</p>
<p>
Quis vero iuvaret ut mei, dolores facilisi eu eos. Vim eu animal platonem, facilis appellantur quo cu. Cum tota aperiam ex. Has te legere option, te his ferri alienum salutandi. Est et inermis signiferumque.
</p>
</div>