<div class="row">
<div class="col s12 m12 l12">
	<h3 class="df-font-color">Editing Page Content</h3>
</div>
<div class="col s12 m12 l12">
	<%= link_to 'Back', admin_pagescontents_path %> | <%= link_to 'Show', admin_pagescontent_path %>
</div>

<%= render 'form' %>

</div>