body{
	background-color:white;
}
/*FOOTER*/
footer.page-footer{
	margin:0;
}
.copyright {
	text-align: center;
	margin: 0;
	padding-top: 1em;
	.container .row .col{
		padding-top:0.5em;
	}
}

#parallax-container {
	background-color:rgba(0,0,0,0.3);
    min-height: 380px !important;
    height:0;
    .no-pad-bot{
    	width:100%;
    	h1,h2,h3,h4,h5{
    		color:white;
    	}
    }
}
#logo-container{
	background-image: url("/img/hllogo.svg");
	background-size: 80%;
	background-repeat: no-repeat;
	background-position: center;
	height:100%;
	width: 250px;
}

#avatar{
	max-height:150px;
}
#parallax-img{
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}

#caption{
	top:initial !important;
	bottom:10% !important;
}
#slideshow-wrap{
	
}