.df-font-color{
	color:#696969;
}

body{
	background-color:white;
}
/*FOOTER*/
footer.page-footer{
	margin:0;
}
.copyright {
	text-align: center;
	margin: 0;
	padding-top: 1em;
	.container .row .col{
		padding-top:0.5em;
	}
}

#parallax-container {
	background-color:rgba(0,0,0,0.3);
    min-height: 500px !important;
    height:0;
    .no-pad-bot{
    	width:100%;
    	h1,h2,h3,h4,h5{
    		color:white;
    	}
    }
}
#logo-container{
	background-image: url("/img/hllogo.svg");
	background-size: 80%;
	background-repeat: no-repeat;
	background-position: center;
	height:100%;
	width: 250px;
}

#avatar{
	max-height:150px;
}
#parallax-img{
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}

#caption{
	top:0;
	h3{
		line-height:120%;
		strong{
		background-color:rgba(0,0,0,0.4);
		}
	} 
	h5{
		line-height:120%;
		strong{
		background-color:rgba(0,0,0,0.4);
		}
	} 
}
#slideshow-wrap{
	background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
	background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
	background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 );

	.container{
		width:100%;
	}
}
.slider .slides{
	background-color:transparent !important;
}
.greyscale{
	filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%);
}

.table-responsive {
    min-height: .01%;
    overflow-x: auto;
}
#company-details{
	tbody tr td{
		font-weight: bold;
		width:50%;
	}
	tbody tr td:nth-child(odd) {
    	text-align:left;
	}
}
.actions{
	margin-top:1em;
}
#content-container{
	padding-top:2em;
	padding-bottom:2em;
}
#admin-content{
	min-height:825px;
}