body{
	background-color:white;
}
/*FOOTER*/
footer.page-footer{
	margin:0;
}
.copyright {
	text-align: center;
	margin: 0;
	padding-top: 1em;
	.container .row .col{
		padding-top:0.5em;
	}
}

#parallax-container {
    min-height: 380px !important;
    height:0;
}