<footer class="page-footer light-blue darken-3" >
<div class="container" >
  <div class="row">
    <div class="col l12 s12 center" >
        <a class="white-text" href="#!">info@hoffmannlogistics.com</a>
    </div>

  </div>
</div>


<div class="row light-blue darken-4 copyright">
  <div class="container">
    <div class="row white-text">

        <div class="col s12 l12">© 2016 HOFFMANNLOGISTICS.EU</div>

    </div>
  </div>
</div>
</footer>