<footer class="page-footer light-blue darken-4" >
<div class="container" >
  <div class="row">
    <div class="col l3 s12 wow fadeInRight wHighlight" data-wow-delay="1.2s" >
          <h5 class="white-text">Lépj velünk kapcsolatba!</h5>
          <ul>
            <li class="white-text">1355 BUDAPEST BAJCSY-ZSILINSZKY ÚT 15. II/7</li>
            <li class="white-text">+36 1 345 1932</li>
            <li class="white-text">+36 1 274 2632</li>
            <li class="white-text">
            <a class="white-text" href="#!">info@hoffmannlogistics.com</a>
            </li>
          </ul>
    </div>

  </div>
</div>


<div class="row blue darken-4 copyright">
  <div class="container">
    <div class="row white-text">

        <div class="col s12 l3"><a class="white-text" href="http://builditgroup.herokuapp.com">Adatvédelmi Szabályzat</a></div>
        <div class="col s12 l3"><a class="white-text" href="http://builditgroup.herokuapp.com">Felhasználási Feltételek</a></div>
        <div class="col s12 l2">Kövess minket: 

        <a class="white-text text-lighten-3" href="http://builditgroup.herokuapp.com/facebook">
        <i class="fa fa-facebook-square fa-lg" aria-hidden="true"></i></a> 

        <a class="white-text text-lighten-3" href="http://builditgroup.herokuapp.com/google-plus">
        <i class="fa fa-google-plus-square fa-lg" aria-hidden="true"></i></a> 
        </div>
        
        <div class="col s12 l4">© 2016 HOFFMANNLOGISTICS.EU</div>

    </div>
  </div>
</div>
</footer>