<footer class="page-footer light-blue darken-4" >
<div class="container" >
  <div class="row">
    <div class="col l3 s12 wow fadeInRight wHighlight" data-wow-delay="1.2s" >
          <h5 class="white-text">Get in touch with us!</h5>
          <ul>
            <li class="white-text">2316 TÖKÖL MESTER U. 1.</li>
            <li class="white-text">+36 30 585-1256</li>
            <li class="white-text">
            <a class="white-text" href="#!">info@hoffmannlogistics.com</a>
            </li>
          </ul>
    </div>

  </div>
</div>


<div class="row blue darken-4 copyright">
  <div class="container">
    <div class="row white-text center">
        
        <div class="col s12 m12 l12">© <%= Date.current.year %> HOFFMANNLOGISTICS</div>

    </div>
  </div>
</div>
</footer>